.follow-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-image: url(background-follow.jpg);
  background-size: auto;
  background-color:rgba(255,255,255,0.6);
	background-blend-mode: lighten;
}

.fw {
  text-align: center;
}

.follows-wrap {
  width: 50%;
}

.followers-wrap {
  width: 50%;
}

.fw-area {
  display: flex;
  justify-content: center;
  height: 700px;
}

.list {
  width: 500px;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}

.fw-nickname {
  line-height: 23px;
  font-size: 25px;
  padding: 10px;
  margin-left: 10px;
}

.fw-nickname:hover {
  color: rgb(0, 165, 165);
}

.user-contents {
  display: flex;
  padding: 10px;
  margin-left: 20px;
}