<div class="chat-message-user">
  <div class="message-user-name">
    <%= direct_message.user.nickname %>
  </div>
  <div class="message-time">
    <%= l direct_message.created_at %>
  </div>
</div>
<div class="chat-message-contents">
  <div class="messages">
    <% if direct_message.content.present? %>
      <span class="message-content">
        <%= direct_message.content %>
      </span>
    <% end %>
    <%= image_tag direct_message.image.variant(resize: '500x500'), class: "chat-message-image" if direct_message.image.attached? %>
  </div>
</div>