<div class="notification-wrap">
  <div class="notification-text-area">
    <%= image_tag("return.png", class:"return-btn", id:"return")%>
    <p class="notification-text">通知一覧</p>
  </div>
  <div class="text-border"></div>
</div>