<div class="side-chat-wrap">
  <div class="user-text">User list</div>
  <div class="users-name-area">
    <% @chat_room_user.each do |c| %>
      <div class="chat-index-users-area">
        <% if c.user.image.present?%>
          <%= image_tag(c.user.image, class: "image-users")%>
        <% else %>
          <%= image_tag("nil-image.png", class: "image-users")%>
        <% end %>
        <%= link_to c.user.nickname, user_path(c.user), class:"user-names", data: { 'turbolinks': false } %>
      </div>  
    <% end %>
  </div>
</div>