.participate-area {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.participate-btn {
  width: 400px;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 50px;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(225, 236, 196);
}

.participate-btn:hover {
  background-color: rgb(182, 239, 26);
}

.image-display {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-outer {
  height: 100%;
  width: 500px;
  text-align: center;
  padding-top: 30px;
}