.mypage-contents {
  background-image: url(background-mypage.jpg);
  background-size: auto;
  background-color:rgba(255,255,255,0.4);
	background-blend-mode: lighten;
}

.my-box {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
 
.my-heading {
  width: 800px;
  text-align: center;
  border-bottom: solid 3px rgb(186, 182, 182);
  font-size: 35px;
  padding: 0 30px 30px 30px;
  font-weight: 600;
}

.user-image-area {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: rgb(10, 107, 32);
}

.profile-text {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 1px;
  letter-spacing: 3px;
}

.image-nill-display {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.image-nill-outer {
  height: 100%;
  width: 300px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
}

.image-nill-item {
  padding-top: 95px;
  font-size: 35px;
  letter-spacing: 3px;
  color: gray;
}

.profile-area {
  display: flex;
  justify-content: center;
}

.profile {
  width: 800px;
  height: 200px;
  margin: 30px 0 20px 0;
  padding: 12px;
  font-size: 25px;
  border: 4px solid rgb(229, 239, 239);
  border-radius: 10px;
  background-color: white;
}

.selection-field {
  display: flex;
  padding-bottom: 50px;
}

.follower {
  margin-left: 312px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(93, 172, 245);
}

.follower a {
  color: white;
}

.followed a {
  color: white;
}

.followed {
  margin-left: 50px;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(93, 172, 245);
}

.email-box {
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 600px;
}

.menu-image {
  height: 40px;
  width: 40px;
  margin: 20px;
}

.room-wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  border-top: 3px solid rgb(195, 195, 195);
  justify-content: space-around;
  background-color: rgb(234, 234, 234);
}

.room-area {
  inline-size:  500px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.room-text {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.rooms {
  height: 400px;
}

.room-name-put {
  font-size: 30px;
  padding: 10px;
}

.room {
  color: gray;
}

.room:hover {
  color: rgb(0, 194, 194);
}

.dm_room-create {
  width: 180px;
  padding: 10px;
  font-weight: 600;
  color: cadetblue;
  margin-right: 10px;
}

.dm-list {
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  color: cadetblue;
  margin-left: 10px;
}

.dm_room-create:hover {
  background-color: rgb(222, 255, 255);
  transition: background-color .5s;
}

.dm-list:hover {
  background-color: rgb(169, 253, 197);
  transition: background-color .5s;
}

.follower-count-box {
  text-align: center;
}

.followed-botton-area {
  width: 450px;
}

.f-btn {
  display: block;
  width: 175px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin-left: 300px;
  font-weight: 600;
  background-color: rgb(2, 200, 85);
  color: white;
}

.user-image {
  height: 303px;
  width: 303px;
  border-radius: 50%;
}

.dm-user-nickname {
  display: block;
  font-size: 20px;
  color: gray;
  padding-top: 12px;
  margin: 0 20px;
  float: right;
}

.text-success-area-user {
  display: flex;
  justify-content: center;
  background-color: rgb(46, 123, 255);
}

.text-success-user {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 20px;
}

.dm-user-link-text {
  color: gray;
}

.dm-user-link-text:hover {
  color: rgb(0, 194, 194);
}